.model,
.model-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.model img,
.model-open img {
  max-width: 100vw;
  max-height: 100vh;
  object-fit: contain;
}

.model {
  visibility: hidden;
  opacity: 0;
}

.model-open {
  visibility: visible;
  opacity: 1;
}

.model-button {
  background-color: transparent;
  border: none;
}

.model-button:hover {
  background-color: #24262f;
}

.model-arrow-left {
  position: absolute;
  top: 1rem;
  right: 9.5rem;
}

.model-arrow-right {
  position: absolute;
  top: 1rem;
  right: 6rem;
}

.model-close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
}

@media (prefers-reduced-motion: no-preference) {
  .model,
  .model-open {
    transition: visibility 0s, opacity 0.5s linear;
  }
}
