.header {
  display: grid;
  grid-template-areas:
    "header-logo header-title"
    "header-nav header-nav";

  grid-template-columns: auto 1fr;

  background-color: var(--color-header-bg);
  color: var(--color-header-text);
}

.header__logo {
  grid-area: header-logo;
  max-width: 150px;
}

.header__title {
  grid-area: header-title;
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}

.header__nav {
  grid-area: header-nav;
}

.skip-to-MainArea {
  background-color: var(--color-header-bg);
  height: 30px;
  left: 50%;
  padding: 0.5rem;
  position: absolute;
  transform: translateY(-100%);
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .skip-to-MainArea {
    transition: transform 0.3s;
  }

  .skip-to-MainArea:focus {
    transform: translateY(0%);
  }
}
