*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-page-bg);
  color: var(--color-page-text);
  font-family: helvetica, arial, sans-serif;
  line-height: 1.6;
}

input,
select,
textarea {
  font: inherit;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app__header,
.app__footer {
  flex-shrink: 0;
}

.app__main {
  flex-grow: 1;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}
