.global-nav {
  color: var(--color-header-text);
}

.global-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: var(--color-header-bg);
  list-style-type: none;
}

.global-nav__list--collapsed {
  display: none;
}

.global-nav__toggle {
  display: block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.global-nav__link {
  text-decoration: none;
  color: var(--color-header-text);
}

.global-nav__link:hover {
  color: #007bff;
}

.menu-container {
  position: relative;
  top: 20px;
}
@media (prefers-reduced-motion: no-preference) {
  .menu-container {
    transition: top 0.5s ease;
  }
}

.menu-container.collapsed {
  top: -100%;
}

.global-nav__item {
  margin-bottom: 10px;
}

/* Below CSS adapted from https://css.gg under the MIT License */
.burger-icon {
  transform: scale(var(--ggs, 1));
  margin-top: -25px;
}

.burger-icon,
.burger-icon::after,
.burger-icon::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  left: 5px;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background: currentColor;
  color: var(--color-header-text);
}

.burger-icon::after,
.burger-icon::before {
  content: "";
  position: absolute;
  left: 0px;
  top: -6px;
}

.burger-icon::after {
  top: 6px;
}

@media (min-width: 40rem) {
  .global-nav__toggle {
    display: none;
  }

  .global-nav__list {
    flex-direction: row;
    position: static;
  }

  .global-nav__list--collapsed {
    display: flex;
  }
}
